
# directories (by name)

build/
buildsrc/
keys/
scripts/

bin/
obj/

TestResults/

# directories (by pattern)

/packages/

# files (by name)

!.gitignore

build.cmd

Local.testsettings
TraceAndTestImpact.testsettings

project.lock.json
project.assets.json

# files (by pattern)

*~
*.*~
*.nupkg
*.opensdf
*.org
*.pkg
*.proj
*.scc
*.sdf
*.suo
*.swp
*.tmp
*.zip

*.nuget.props
*.nuget.targets

*.csproj*.user
*.vcproj.user
*.vcxproj.user
TestResult*.xml
UpgradeLog*.XML

